
.copyright {

    background-color: $light;

    &__wrapper {
        border-top: 1px solid #7d7d7d80;
        padding: 5px 0;

    }

    &__link {
        display: block;
        max-width: 220px;
        margin: 0 auto;
    }

    &__text {
        display: block;
        font-family: "Times New Roman", Times, serif;
        font-size: 11px;
        color: $subtitle;
        text-align: center;
    }

    &__text:last-child {
        margin-top: 4px;
    }
}

@media screen and (max-width: 768px) {

    .copyright {

        &__text {
            font-size: 9px;
        }
    }
}

@media screen and (max-width: 650px) {

    .copyright {

        &__text {
            font-size: 8px;
        }
    }
}