
.price {
    background-color: $dark;
    padding: $section-gap 0;

    &__section-head {
        width: fit-content;
        margin: 0 0 50px;
    }
    
    &__section-head-subtitle {
        color: #bdbdbd;
    }

    &__section-head-title {
        color: $light;
    }

    &__enlage-sign {
        color: $light;
    }

    &__cards-field {
        padding: 0 15px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        justify-items: center;
    }

    &__card {
        padding: 20px;
        max-width: 490px;
        height: 280px;
        overflow: hidden;
        cursor: pointer;
        border: 2px solid $dark;
        transition: all .3s;
    }

    &__card:hover {
        border: 2px solid $light;
        box-shadow: 0px 0px 10px 0px #FFFFFF;
        transform: scale(1.01);

    }

    &__card-logo {
        width: 50px;
        height: 50px;
        margin-bottom: 20px;

        & svg {
            width: 100%;
            height: 100%;
            fill: $light;
        }
    }

    &__card-title {
        font-family: $title;
        font-weight: 400;
        font-size: 2.8rem;
        letter-spacing: 0.07em;
        color: $light;
        margin-bottom: 10px;
    }

    &__card-text {
        font-family: $text;
        font-weight: 400;
        font-size: 1.8rem;
        color: $light;
    }
}

@media screen and (max-width: 1280px) {

    .price {

        padding: 50px 0;

        &__section-head {
            margin: 0 auto 30px;
        }

        &__cards-field {
            grid-template-columns: repeat(2, 1fr);
            padding: 0;
        }
    }
}

@media screen and (max-width: 900px) {

    .price {

        &__cards-field {
            gap: 25px;
        }
        
        &__card {
            height: 260px;
        }
        
        &__card-logo {
           display: inline-block;
           margin-right: 20px;
        }

        &__card-title {
            display: inline-block;
            margin-bottom: 0;
            vertical-align: text-bottom;
        }
    }
}

@media screen and (max-width: 768px) {

    .price {

        padding: 40px 0;

        &__section-head {
            margin: 0 auto 20px;
        }

        &__card {
            padding: 10px;
            height: 175px;
            border: 2px solid $light;
        }

        &__card-logo {
            width: 40px;
            height: 40px;
            margin: 0 10px 15px 5px;
        }

        &__card-title {
            font-size: 2.4rem;
        }

        &__card-text {
            font-size: 1.4rem;
        }
    }
}

@media screen and (max-width: 650px) {

    .price {

        &__cards-field {
            grid-template-columns: repeat(1, 1fr);
        }

        &__card {
            max-width: 350px;
        }
    }

}

@media screen and (max-width: 425px) {

    .price {

        padding: 20px 0;

        &__section-head {
            margin: 0 auto 15px;
        }
        
    }

}